Exploration of Tradeable Search API endpoint
docs: https://www.alphavantage.co/documentation/#listing-status

observations:
- with no parameters it lists active securities on latest trading day
- only USA securities

In [10]:
# setup

import os
import io
import requests
import pandas as pd
from rich import print
from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv('.env.dev.local'))
api_key = os.environ['alphavantage_api_key']
endpoint = 'https://www.alphavantage.co/query?function=LISTING_STATUS'

# No parameters

In [19]:
request_url = f'{endpoint}&apikey={api_key}'
response = requests.get(request_url)
csv_data = response.content.decode('utf-8')
df_default = pd.read_csv(io.StringIO(csv_data))
df_default

,symbol,name,exchange,assetType,ipoDate,delistingDate,status
0,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18,NaN,Active
1,AA,Alcoa Corp,NYSE,Stock,2016-10-18,NaN,Active
2,AAA,ALTERNATIVE ACCESS FIRST PRIORITY CLO BOND ETF,NYSE ARCA,ETF,2020-09-09,NaN,Active
3,AAAU,Goldman Sachs Physical Gold ETF,BATS,ETF,2018-08-15,NaN,Active
4,AACG,ATA Creativity Global,NASDAQ,Stock,2008-01-29,NaN,Active
...,...,...,...,...,...,...,...
11660,ZYME,Zymeworks BC Inc,NASDAQ,Stock,2017-04-28,NaN,Active
11661,ZYNE,Zynerba Pharmaceuticals Inc,NASDAQ,Stock,2015-08-05,NaN,Active
11662,ZYXI,Zynex Inc,NASDAQ,Stock,2012-07-23,NaN,Active
11663,ZZK,NaN,NYSE ARCA,Stock,2020-07-22,NaN,Active
11664,ZZZ,TEST TICKER FOR UTP,NYSE ARCA,Stock,2014-10-31,NaN,Active

In [20]:
# make sure it's only active securities
# status should all be Active and delistingDate NaN
unique_status = df_default['status'].unique()
unique_del_date = df_default['delistingDate'].unique()
print('status: ', unique_status)
print('del_date :', unique_del_date)

status:  ['Active']

del_date : [nan]

In [21]:
# count of active stocks on NSYE and NASDAQ
filtered_df_default = df_default[ (df_default['assetType'] == 'Stock') & (df_default['exchange'].isin(['NYSE', 'NASDAQ'])) ]
filtered_df_default.count()

symbol           7167
name             7141
exchange         7168
assetType        7168
ipoDate          7168
delistingDate       0
status           7168
dtype: int64

# Parameter state=delisted

In [15]:
request_url = f'{endpoint}&state=delisted&apikey={api_key}'
response = requests.get(request_url)
csv_data = response.content.decode('utf-8')
df_delisted = pd.read_csv(io.StringIO(csv_data))
df_delisted

,symbol,name,exchange,assetType,ipoDate,delistingDate,status
0,AA-W,Alcoa Corporation When Issued,NYSE,Stock,2016-10-18,2016-11-08,Delisted
1,AAAP,Advanced Accelerator Applications SA,NASDAQ,Stock,2015-11-11,2018-02-20,Delisted
2,AABA,Altaba Inc,NASDAQ,Stock,1996-04-12,2019-11-06,Delisted
3,AAC,American Addiction Centers,NYSE,Stock,2014-10-02,2021-04-19,Delisted
4,AAC-U,Ares Acquisition Corporation - Units (1 Ord Sh...,NYSE,Stock,2021-02-02,2023-11-06,Delisted
...,...,...,...,...,...,...,...
8362,ZWRK,Z-Work Acquisition Corp - Class A,NASDAQ,Stock,2021-04-05,2022-12-08,Delisted
8363,ZWRKU,Z-Work Acquisition Corp - Units (1 Ord Class A...,NASDAQ,Stock,2021-01-29,2022-12-08,Delisted
8364,ZWRKW,Z-Work Acquisition Corp - Warrants (29/01/2026),NASDAQ,Stock,2021-03-24,2022-12-08,Delisted
8365,ZX,China Zenix Auto International Ltd,NYSE,Stock,2011-05-16,2018-06-14,Delisted
8366,ZY,Zymergen Inc,NASDAQ,Stock,2021-04-22,2022-11-02,Delisted

In [16]:
unique_status = df_delisted['status'].unique()
unique_status

array(['Delisted'], dtype=object)

In [23]:
filtered_df_delisted = df_delisted[(df_delisted['assetType'] == 'Stock') & (df_delisted['exchange'].isin(['NYSE', 'NASDAQ']))]
filtered_df_delisted.count()

symbol           6595
name             6463
exchange         6595
assetType        6595
ipoDate          6595
delistingDate    6595
status           6595
dtype: int64